<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>070CB17D58A3D46E02F986428BF7BAA753CFDBC9</string>
				<key>dateExpires</key>
				<string>2021/5/11</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3LT4R62MQU.com.xiaojin.enterprise</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3LT4R62MQU</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3LT4R62MQU.com.xiaojin.enterprise</string>
				</array>
			</dict>
			<key>name</key>
			<string>Core.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2e5a760c-cc2e-40ff-a516-30291a3d1ae6</string>
				<key>name</key>
				<string>testyears</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3LT4R62MQU</string>
				<key>name</key>
				<string>zolotaya gora, ooo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
