<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iphoneLive.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
				<key>dateExpires</key>
				<string>2021/8/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BlocksKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CWStatusBarNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EBBannerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GPUImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HappyDNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QBImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Qiniu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SPUncaughtExceptionHandler.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>72271EA3655EE656F5AE0FA1146709EC21C52976</string>
						<key>dateExpires</key>
						<string>2021/8/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T39M9QJ5MX</string>
						<key>name</key>
						<string>i-MD Holdings (Hong Kong) Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T39M9QJ5MX.com.iphnet.ns1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T39M9QJ5MX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>iphoneLive.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>885db558-b34c-424c-84f5-765f38a75311</string>
				<key>name</key>
				<string>20180921</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T39M9QJ5MX</string>
				<key>name</key>
				<string>i-MD Holdings (Hong Kong) Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
